:root {
  --background: #000;
  --text-color: #fffafb;

}

@font-face {
  font-family: 'Trap';
  src: url('./fonts/Trap-Regular.woff2') format('woff2'),
    url('./fonts/Trap-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trap';
  src: url('./fonts/Trap-Bold.woff2') format('woff2'),
    url('./fonts/Trap-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


body {
  background: var(--background);
  color: var(--text-color);
  font-family: 'Trap';
  font-weight: normal;
  
}
a{
  /* color: unset; */
  text-decoration: none;    
}